body {
	margin: 0;
	padding: 0;
	font-family: "Arial", "sans-serif";
}

#mainWrapper {
	background-color: #FCEBEB;
	margin: 0 auto;
	max-width: 1000px;
}

#burton_logo {
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	width: 30%;
}

nav {
	margin-left: 20px;
}

nav a {
	margin-right: 20px;
}

#imagePart {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 8px;
	margin: 20px;
	width: calc(100% - 40px);
}

#imgMain {
	grid-column: 1/2;
	grid-row: 1/4;
	width: 100%;
	height: 100%;
}

#img1 {
	grid-column: 2/3;
	grid-row: 1/2;
	width: 100%;
	height: 100%;
}

#img2 {
	grid-column: 2/3;
	grid-row: 2/3;
	width: 100%;
	height: 100%;
}

#img3 {
	grid-column: 2/3;
	grid-row: 3/4;
	width: 100%;
}

h2 {
	margin-left: 20px;
}

#articlePart {
	margin-left: 20px;
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

#articlePart p {
	display: inline;
}

#imgFootBall {
	width: 90%;
}

#book
{
	width: 90%;
}

footer {
	background-color: gray;
}

footer div {
	padding-top: 20px;
}

footer a {
	margin-left: 20px;
	color: white;
}

footer p {
	color: white;
	padding-bottom: 20px;
	margin: 0 0 0 20px;
}